<h1>Users</h1>

<div class="container">
<div class="col-sm-12 col-md-11 col-lg-10 col-xl-8">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Ratings</th>
      <th>Average</th>
      <% if current_user.admin %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td class="col-6"><%= link_to user.username, user %></td>
      <td class="col-3"><%= user.ratings.count %></td>
      <td class="col-2"><%= round(user.average_rating) %></td>
      <% if current_user.admin %>
        <td class="col-1">
        <% if user.closed %>
        <span class="badge bg-primary">closed</span>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
</div>
</div>

<%= link_to "New user", new_user_path, class:'btn btn-primary' %>
